{% extends "base.html" %}
{% load static %}

{% block extra_header %}
<div class="slider row">
    <ul class="slides">
        <li>
            <img src="{% static 'images/mela1.jpg' %}"> <!-- random image -->
            <div class="caption center-align">
                <h1>Fysio Fitness</h1>
                <h5 class="light grey-text text-lighten-3">Träning för livet, genom livet</h5>
                <a class="waves-effect waves-light btn-large" href="{% url 'subscriptions' %}"><i
                        class="material-icons right">subscriptions</i>Se träningsfilmer</a>
            </div>
        </li>
        <li>
            <img src="{% static 'images/mela2.jpg' %}"> <!-- random image -->
            <div class="caption left-align">
                <h3>Fysio Fitness</h3>
                <h5 class="light grey-text text-lighten-3">Smart träning för att nå dina mål</h5>
                <a class="waves-effect waves-light btn-large" href="{% url 'subscriptions' %}"><i
                        class="material-icons right">subscriptions</i>Se träningsfilmer</a>
            </div>
        </li>
        <li>
            <img src="{% static 'images/mela3.jpg' %}"> <!-- random image -->
            <div class="caption right-align">
                <h3>Personlig träning</h3>
                <h5 class="light grey-text text-lighten-3">Kompetens-Erfarenhet-Lyhördhet</h5>
                <a class="waves-effect waves-light btn-large" href="{% url 'subscriptions' %}"><i
                        class="material-icons right">subscriptions</i>Se träningsfilmer</a>
            </div>
        </li>
        <li>
            <img src="{% static 'images/mela7.jpg' %}"> <!-- random image -->
            <div class="caption center-align">
                <h3>Personlig träning</h3>
                <h5 class="light grey-text text-lighten-3">Gravidträning/ Postpartumträning</h5>
                <a class="waves-effect waves-light btn-large" href="{% url 'subscriptions' %}"><i
                        class="material-icons right">subscriptions</i>Se träningsfilmer</a>
            </div>
        </li>
    </ul>
</div>

{% endblock %}

{% block content %}
<div class="row">
    {% include 'components/social_buttons.html' %}
</div>
<div class="divider"></div>
<div class="row">
    <div class="col s12 m5">
        <img class="circle" src="{% static 'images/mela8.jpg' %}" style="width: 100%;" alt="">
        <h5 class="center"><i class="fas fa-dumbbell"></i> Meriter:</h5>
        <ul>
            <li>
                <h6>2016</h6>
                <p>- GULD Svenska Mästerskapen</p>
                <p>- GULD Tyngre Classic</p>
                <p>- SILVER Styrkelyft Svenska Mästerskapen</p>
                <p>- Gladiatorerna</p>
            </li>
            <li>
                <h6>2015</h6>
                <p>- GULD Svenska Mästerskapen</p>
                <p>- SILVER Norway Open</p>
            </li>
            <li>
                <h6>2014</h6>
                <p>- GULD Decembercupen</p>
                <p>- SILVER Tyngre Classic</p>
            </li>
        </ul>
    </div>
    <div class="col s12 m7">
        <h5 class="center">Michaela Augustsson</h5>
        <h6>Kompetensen</h6>
        <p>Är Leg. sjukgymnast med flerårig vidareutbildning inom Idrottsmedicin. Har en bred grund av patientarbete
            inom både ortopedisk medicin och generell primärvård samt föreläsningar och arbete mot både företag och inom
            friskvården.
            Senaste åren har kompetensutveckling parallellt skett inom området Kvinnors Hälsa i samband med min första
            graviditet. Jag arbetar med kvinnor genom hela livet både förebyggande och behandlande - innan och under
            graviditet, efter förlossning och under klimakteriet.
            Mitt fokus ligger på att bidra med trygghet, evidensbaserad information och smärtlindring vid behov.
            Jag hjälper kvinnor att modifiera och justera i sin träning utifrån behov och utgångsläge. Bedömer och
            utvärderar både bål och bäckenbotten, förlossningsskador, smärtproblematik samt hjälper till i successiv
            progression och återgång till träning/idrott/aktivitet.
            Läser nu till specialist inom fysioterapi i området Obstetrik, Urologi och Gynekologi och ser stora fördelar
            av att kombinera min kompetens inom idrottsmedicin för att bemöta aktiva kvinnor i livets alla skeden och
            hjälpa dem att upprätthålla en god hälsa och aktiv livsstil på olika nivåer. </p>
        <h6>Erfarenheten</h6>
        <p>Som atlet har jag också en bred grund. Mångårig lagidrottare inom fotboll och innebandy. Korsbandsskadad x 2
            och mycket egen rehab som genererade en förälskelse i styrketräning.
            Gjorde min första tävling inom Kroppsbyggning 2010 inom Body Fitness och tävlade sedan mest framgångsrikt
            inom Athletic Fitness fram till 2016. Har varit aktiv inom tävlingsteam och tävlingscoachat inom Fitness och
            Styrkelyft. Som tvåbarnsmamma har jag också gått igenom graviditeter och förlossningar och under tiden
            utvärderat, testat, modifierat kring min egen träning. Jag tycker att jag på nära håll förstår hur svårt det
            kan vara att balansera livet och sin egen hälsa och välmående under tiden med småbarn.</p>
        <h6>Lyhördheten</h6>
        <p>Som terapeut och personlig tränare spelar det ingen roll hur duktig jag är om jag inte fångar upp dig där DU
            är och du kan känna dig delaktig i processen.
            Att se och lyssna in vem jag har framför mig, att utgå från DIG, dina behov och önskemål är det viktigaste
            för att hitta det bästa upplägget för just DIG.
            Kommunikation, utvärdering och feedback är ledteman för att optimera detta.</p>
    </div>
</div>
<div class="divider"></div>

<div class="row">
    {% include 'components/social_buttons.html' %}
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        $('.slider').slider({ full_width: true });
    });
</script>
{% endblock %}