{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="logo-font mb-4">Checkout</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Fyll i formuläret nedan för att fullfölja din order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Personuppgifter</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Inloggningsuppgifter</legend>
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.password | as_crispy_field }}
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Kortuppgifter</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    <input type="hidden" value="{{ plan_id }}" name="plan_id">
                </fieldset>

                <div class="submit-button text-right mt-5 mb-2">
                    <button id="submit-button" class="btn right btn-black rounded-0">
                        <span class="font-weight-bold">Slutför köp</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Ditt kort kommer debiteras med <strong>{{ total_price }} kr</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}