/* Global */
.badge.circle {
    width: 42px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    padding-top: 9px;
    font-size:24px;
}

/* Side nav */
.sidenav .social a
{
    color: rgba(0,0,0,0.87);
    font-size: 20px;
}

.sidenav .social a:hover
{
    background-color: rgba(0,0,0,0.05);
}

/* Footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }