{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}">
{% endblock %}

{% block content %}
<div class="row center"><h1>Köp ditt träningsprogram här!</h1></div>
<div class="row">
    {% for p in plans %}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="{{ p.image.url }}">
                <span class="card-title">{{ p.name }}</span>
            </div>
            <div class="card-content">
                <p>{{ p.description }}</p>
            </div>
            <div class="card-action">
                <a class="btn" href="/checkout?plan_id={{ p.id }}">Köp {{ p.price }} kr</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}