<div class="col s12 m6 offset-m3 l4 offset-l4">
    <a href="https://www.facebook.com/michaela.augustsson.39" target="_blank" class="col s4 center"><i class="badge circle white grey-text fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/michaelaaugustsson/" target="_blank" class="col s4 center"><i class="badge circle white grey-text fa fa-instagram"></i></a>
    <a href="mailto:fysiofitness007@gmail.com" class="col s4 center"><i class="badge circle white grey-text fa fa-envelope"></i></a>
</div>